*.aux
*.log
*.out
*.synctex.gz
*.toc
bibliography/*.bib.bak
bibliography/*.bib.sav.tmp 
*.blg
*.bbl
*.fls
*.fdb_latexmk
.vscode/
*/desktop.ini
fig/test_setup/desktop.ini
desktop.ini
svg-inkscape/
ltspice/*.raw
ltspice/choke-with-secondary-coil-with-capacitor.raw
*.pyc
inta_measurements/validation/__pycache__/Coaxial_line_validation_test.cpython-39-pytest-7.1.3.pyc.2900
bibliography/references.bib.sav
